<div class="form-wrapper">
  <div class="form-container">
    <div class="form-content">
      <%= simple_form_for(@pack, url: admin_packs_path, method: :post) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :genre, collection: Pack::GENRES %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :audio %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
