<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Drm-Sct', root_path, class: 'logo-navbar' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="right-nav">
    <% if current_user %>
      <%= link_to 'Dashboard', profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link") %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to('Register', new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link")  %>
    <% end %>
  </div>
</nav>
