<div class="container">
  <div class="pack-infos pb-5">
    <div class="row">
      <div class="col-xs-12 col-md-6 pack-show-col">

        <div class="pack-image text-center">
          <img src="<%= cl_image_path @pack.photo %>" alt="" class="pack-img mb-5">
        </div>

        <div class="row">
          <div class="col-sm-6 d-flex justify-content-start">
            <div class="pack-details">
              <ul class="list-unstyled">
                <% @pack.infos.each do |info| %>
                  <li><%= info %></li>
                <% end %>
                <li><%= number_to_human_size(@pack.file_size) %></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 d-flex justify-content-end text-right">
            <div class="pack-purchase-info">
              <% if current_user.got_it?(@pack) %>
                <h3>You own this pack</h3>
              <% else %>
                <h3><%= humanized_money_with_symbol(@pack.price) %></h3>
                <%= link_to orders_path(pack_id: @pack.id), method: :post, class: 'btn btn-primary' do %>
                  <span>Add to cart</span><i class="fas fa-cart-arrow-down"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 pack-show-col">
        <h3><%= @pack.title %></h3>
        <p><%= simple_format @pack.description %></p>
      </div>

    </div>

    <div class="also">
      <div class="text-center mt-5 mb-5">
        <h3>You may also like...</h3>
      </div>
      <div class="row">
        <% @also_packs.each do |pack| %>
            <%= render './shared/pack_card', pack: pack %>
        <% end %>
      </div>
    </div>

    <div class="reviews">
      <div class="text-center mt-5 mb-5">
        <h3>Reviews</h3>
      </div>

      <% if !@pack.reviews.pluck(:user_id).include?(current_user.id) && current_user.got_it?(@pack) %>
        <div class="review-form">
          <%= simple_form_for([@pack, Review.new]) do |f| %>
            <%= f.input :rating %>
            <%= f.input :content %>
            <%= f.submit 'Send', class: 'btn btn-primary my-2' %>
          <% end %>
        </div>
      <% end %>

      <div class="reviews-list">
        <% @pack.reviews.each do |review| %>
          <%= render './shared/review-card', review: review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
