<div class="container">
  <div class="pack-infos">
    <div class="row align-items-center">
      <div class="col-xs-12 col-md-6">
        <img src="<%= cl_image_path @pack.photo %>" alt="" class="pack-img">
        <p><%= number_to_human_size(@pack.file_size) %></p>
        <p><%= @pack.content_type.split('/').last %></p>
        <h3><%= humanized_money_with_symbol(@pack.price) %></h3>
        <%= link_to root_path, class: 'btn btn-primary' do %>
          <span>Add to cart</span><i class="fas fa-cart-arrow-down"></i>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h3><%= @pack.title %></h3>
        <p><%= simple_format @pack.description %></p>
      </div>
    </div>
  </div>
</div>
