<div class="container">
  <div class="row user-infos">
    <div class="col-sm-6">
      <div class="user-avatar">
        <% if @user.photo.file.nil?%>
          <%= image_tag "avatar-baf.png", height: 120, width: 120 %>
        <% else %>
          <%= cl_image_tag @user.photo, height: 120, width: 120, crop: :fill, class: "user-picture" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="user-details">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Username:</li>
          <li class="list-group-item">Email: <%= @user.email %></li>
          <% if @user.subscriber %>
            <li class="list-group-item">Current subscribtion: Active</li>
          <% else %>
            <li class="list-group-item">Current subscribtion: Inactive</li>
          <% end %>
          <li class="list-group-item"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="my-packs">
    <h2>My Packs</h2>
    <br>
    <div class="row">
      <% @packs.each do |pack| %>
        <div class="col-xs-12 col-sm-3">
          <%= link_to pack_path(pack) do  %>
            <div class="pack-card grow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=pack.photo_url%>);">
              <div class="pack-card-category"><%= pack.title %></div>
              <div class="pack-card-description">
                <p><%= pack.description.chars.first(50).join('') %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
