<div class="container">
  <div class="row user-infos">
    <div class="col-sm-6">
      <div class="user-avatar">
        <% if @user.photo.file.nil?%>
          <%= image_tag "avatar-baf.png", height: 220, width: 220 %>
        <% else %>
          <%= cl_image_tag @user.photo, height: 220, width: 220, crop: :fill, class: "user-picture" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">

      <ul class="list-group">
        <li class="list-group-item"><%= @user.username %></li>
        <li class="list-group-item"><%= @user.email %></li>
        <li class="list-group-item">Number of articles: <%= @user.packs.count %></li>
        <% if @user.subscriber %>
          <li class="list-group-item list-group-item-success">Subscribtion Status: <strong>Active</strong></li>
        <% else %>
          <li class="list-group-item list-group-item-primary">Subscribtion Status: <strong>Inactive</strong></li>
        <% end %>
        <li class="list-group-item"><%= link_to 'Update Profile', edit_user_registration_path %></li>
      </ul>

    </div>
  </div>


  <h3>My Products</h3>

  <div class="filter">
    <%= simple_form_for :query, url: profile_path, method: :get, html: {id: 'filter-form'} do |f| %>
      <%= f.input :filter, collection: [Pack::GENRES, @user.user_packs].flatten, input_html: { class: 'select2' }, label: false %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <% @packs.each do |pack| %>
      <div class="col-md-3">
        <%= link_to pack_path(pack) do  %>
          <div class="pack-card grow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=pack.photo_url%>);">
            <% if pack.new? %>
              <div class="new-tag">New</div>
            <% end %>
            <div class="pack-card-category"><%= pack.title %></div>
            <div class="pack-card-description">
              <%= button_to 'Download', download_pack_path(pack), class: 'btn btn-primary my-2 download-btn' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
