<section class="profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('https://picsum.photos/id/529/1000/500');"></section>
<div class="container">
  <div class="row user-infos" data-aos="fade-left" data-aos-delay="300" data-aos-duration="700">
      <ul class="list-group">
        <li class="list-group-item"><%= @user.username %></li>
        <li class="list-group-item"><%= @user.email %></li>
        <li class="list-group-item">Number of articles: <%= @user.packs.count %></li>
        <% if @user.subscriber %>
          <li class="list-group-item list-group-item-success">Subscribtion Status: <strong>Active</strong></li>
        <% else %>
          <li class="list-group-item list-group-item-primary">Subscribtion Status: <strong>Inactive</strong></li>
        <% end %>
        <% if @user.pending_order %>
          <li class="list-group-item"><%= link_to 'My cart', order_path(@user.pending_order) %> - <%= @user.pending_order.order_items.count %> Items</li>
        <% end %>
        <li class="list-group-item"><%= link_to 'Orders', orders_path %></li>
        <li class="list-group-item"><%= link_to 'Update Profile', edit_user_registration_path %></li>
      </ul>

    <div class="user-avatar">
      <% if @user.photo.file.nil? %>
        <%= image_tag "avatar-baf.png", class: "user-picture" %>
      <% else %>
        <%= cl_image_tag @user.photo, class: "user-picture" %>
      <% end %>
    </div>

  </div>


  <div class="my-products">
    <div class="heading-height-my-products">
      <div class="recent-products-heading d-flex" id="i-animation">
        <i class="line fas fa-minus fa-rotate-90"></i>
        <h2>My Products</h2>
      </div>
    </div>
  </div>

  <div class="filter">
    <%= simple_form_for :query, url: profile_path, method: :get, html: {id: 'filter-form'}, remote: true do |f| %>
    <div id="filter-input">
      <%= f.input :filter, collection: @user.user_packs_filter, input_html: { class: 'select2' }, label: false %>
    </div>
      <%= f.submit id: 'filter-submit', class: 'd-none' %>
    <% end %>
  </div>

  <div class="products">
    <%= render 'profile_products', packs: @packs %>
  </div>

</div>
